* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Titulos";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Texto";
  src: url("../fonts/outfit/static/Outfit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f3e5d8;
  width: 100%;
  height: auto;
  padding: 30px 0;
  font-family: "Texto";
}
.container {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  width: 100%;
}
.huevito {
  width: 100%;
  border-radius: 8px;
}

.title {
  font-size: 3em;
  font-weight: bolder;
  font-family: "Titulos";
  margin-top: 25px;
  margin-bottom: 25px;
  /*margin: 25px 0;
  margin: 25px 0 25px 0;*/
}

.preparation {
  background-color: #fff7fc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
}

.subtitle {
  font-family: "Titulos";
  font-size: 24px;
  color: #854632;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.preparation .subtitle {
  color: #82415c;
  font-family: "Texto";
  font-size: 20px;
  margin-bottom: 10px;
}

.list {
  margin-left: 20px;
  color: #302d2c;
}

.preparation .list > li {
  line-height: 2;
  padding-left: 8px;
}

.preparation .list > li::marker {
  color: #82415c;
}

p {
  color: #302d2c;
}

.ingredients,
.instructions,
.nutrition {
  margin-top: 30px;
}

.list-2 {
  margin-left: 20px;
}
.list-2 > li {
  padding-left: 15px;
  line-height: 2;
}
.list-2 > li::marker {
  color: #854632;
  font-weight: bolder;
}

hr {
  margin-top: 30px;
}

.table-information {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  border-collapse: collapse;
}
.table-title {
  color: #854632;
  padding: 8px;
  text-align: left;
}
.border-line {
  border-bottom: #302d2c 1px solid;
}
.border-line > td {
  padding: 8px 10px;
}
.value-color {
  color: #854632;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  .container {
    border-radius: 0%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
  }
}
